span.MuiStepLabel-root.MuiStepLabel-horizontal.css-ascpo7-MuiStepLabel-root{

    flex-direction: row-reverse;
    column-gap: 10px;

}


.MuiStep-root.MuiStep-horizontal.css-1bw0nnu-MuiStep-root {
    margin-left: 10px;
}



.steps-counter-div{
    display: none;
}


@media only screen and (min-width: 1366px) and (max-width: 1800px) {
    .css-mbrw24-MuiStepper-root .MuiStepLabel-label.Mui-active , .css-mbrw24-MuiStepper-root .Mui-disabled .MuiStepLabel-label , span.MuiStepLabel-label.Mui-completed.css-1hv8oq8-MuiStepLabel-label{
        font-size: 17px !important;
        }
}

@media only screen and (min-width: 700px) and (max-width: 1365px) {
    .css-mbrw24-MuiStepper-root .MuiStepLabel-label.Mui-active , .css-mbrw24-MuiStepper-root .Mui-disabled .MuiStepLabel-label , span.MuiStepLabel-label.Mui-completed.css-1hv8oq8-MuiStepLabel-label{
        font-size: 18px !important;
        }

        svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root,svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root{
            width: 16px;
            height: 16px;
            padding: 3px;
        }


        span.MuiStepLabel-root.MuiStepLabel-horizontal.css-ascpo7-MuiStepLabel-root{
            column-gap: 4px;
            padding: 0px 5px;
        }

        .MuiStep-root.MuiStep-horizontal.css-1bw0nnu-MuiStep-root{
            margin-left: 0px;
        }


        span.MuiStepLabel-iconContainer.Mui-active.css-vnkopk-MuiStepLabel-iconContainer , span.MuiStepLabel-iconContainer.Mui-disabled.css-vnkopk-MuiStepLabel-iconContainer , span.MuiStepLabel-iconContainer.Mui-completed.css-vnkopk-MuiStepLabel-iconContainer{
            padding-right: 0px;
        }

        .MuiStep-root.MuiStep-horizontal.css-1bw0nnu-MuiStep-root{
            padding: 0px;
        }

}


@media only screen and (max-width: 751px) {

    .steps-counter-div{
        display: flex;
    justify-content: center;
    }


    .steps-counter-div span.MuiStepLabel-label.css-1hv8oq8-MuiStepLabel-label{
        font-family: 'Satoshi';
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;

    }

    .css-117w1su-MuiStepIcon-text{
        fill : rgba(0, 0, 0, 0.8) !important;
        font-family: Roboto;
font-size: 15px !important;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

    }

    .css-mbrw24-MuiStepper-root .Mui-active .MuiStepIcon-root .MuiStepIcon-text{
        fill: #06B217 !important;
    }

    span.MuiStepLabel-label.Mui-active.css-1hv8oq8-MuiStepLabel-label , span.MuiStepLabel-label.Mui-disabled.css-1hv8oq8-MuiStepLabel-label , span.MuiStepLabel-label.Mui-completed.css-1hv8oq8-MuiStepLabel-label{
        display: none;
    }

    .steps-counter-div {
        margin-bottom: 18px;
    }
    .css-z7uhs0-MuiStepConnector-line{
        border-top-style: dotted !important;
        border-top-width: 7px !important;
        border-color: rgba(0, 0, 0, 0.1) !important;

    }

    span.MuiStepLabel-root.MuiStepLabel-horizontal.css-ascpo7-MuiStepLabel-root{
        column-gap: 0px;
    }


    .MuiStep-root.MuiStep-horizontal.css-1bw0nnu-MuiStep-root{
        margin-left: 0px;
    }

    .css-1bw0nnu-MuiStep-root , .css-vnkopk-MuiStepLabel-iconContainer{
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    


    .MuiStepper-root.MuiStepper-horizontal.css-mbrw24-MuiStepper-root {
        width: 225px;
        margin: auto;
    }

}