.slick-prev,
.slick-next {
    font-size: 0;
    color: #080505; 
    background-color: #fff; 
 
  
}

.slick-prev:hover,
.slick-next:hover {
    color: #080505; 
  
}



.slick-prev:before, .slick-next:before {
  color: #080505;
  /* font-size: 35px; */
  align-items: start;
   
  
}



.slick-slider .slick-track {
    margin: 0; 
  }
  .slick-slide {
    height: auto !important; 
  }

  .slick-prev{
    left: -80px;
    top: 260px;
  }

  /* .swiper-button-next::after{
    /* height: 48px; */
    /* width: 150px; */
    /* margin-right: 250px;
    align-items: center;
  } */ 

  .slick-prev, .slick-next {
    width: 48px;
    height: 48px;
    
  }


  .slick-next{
    margin-left: 50px;
    right: -60px;
    top: 260px;
  }