.footer{
width: 1472px;
padding: 90px;
flex-direction: column;
align-items: center;
border-radius: var(--pixels-20, 20px);
background: var(--Linear-BG, linear-gradient(71deg, #FF9F0A 0%, #FF375F 62.9%));
}
  
  
.footer_text{
  color: #FFF;
text-align: center;
font-size: 46px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 72.8px */
}