@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/satoshi');
body {
  margin: 0;
  font-family: "FuturaMedium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 :root {
  --primary: #fef0d2bf;
  --sec: #ff832b;
  --sec-ligh: #f9aa56;
  --dark: #dfdfdf;
  --light: #efefef;
  --blue: rgba(43, 51, 231, 1);
}


.container{
  max-width: 1920px;
  margin: auto;
}

.gradient-button::after {
  background: linear-gradient(to right, #FF9F0A 0%, #FF375F 62.9%);  
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}


.main-container {
  min-height: calc(100vh - 120px);
  width: calc(100vw - 290px);
  margin: 148px 0px 20px 270px;
  padding: 0em 1em 0em 2.2em;
  position: fixed;
}
.ql-toolbar.ql-snow {
  background:#EAECF0
}
/* .ql-editor{
  min-height: 150px;
} */


.quill {
  height: 100%;
}
.ql-container {
  height: 100% !important;
}

.ql-editor {
  height: 100% !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}


@media screen and (max-width: 900px) {
  .main-container {
    height: calc(100% - 210px);
    width: 100%;
    margin: 130px 0px 80px 0px;
    padding: 0em 0.4em;
  }
}



/* ******************** SCROLLBAR CSS ********************** */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(228, 231, 236);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(39, 76, 119); */
  background: #c1c1c1;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgba(39, 76, 119, 0.7); */
  background: #d3d3d3;
}




/* #########################  Normal Table Stylng ############################### */

.normal-table {
  border: 1px solid #d0e2ff;
}

.normal-table th {
  padding: 8px;
}

.normal-table > tbody > tr > td {
  padding: 8px;
  border: 1px solid #d0e2ff;
}
/* ###################### React Table #############33 */
.sort-container {
  display: "inline-block";
  margin-left: 5px;
  height: fit-content;
  position: absolute;
  right: 20px;
  top: 50;
  transform: translateX(50%);
  z-index: 1;
}

.sort-icon {
  cursor: pointer;
  color: #f58220;
  height: 17px !important;
  width: 17px !important;
}

/* ##############STEPPER###################### */
.css-n7tliy-MuiStep-root{
  padding-bottom: 1rem !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color:'red' !important;
}

/* drag and drop css */
.drop-zone {
  /* width: 50%;
  height: 200px;
  border: 1.5px dashed #36C;
  background: #F7FAFF;
  border-radius: var(--Spacing-12, 12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: flex;
width:  567px;
height:50vh;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;

border-radius: var(--Spacing-12, 12px);
border: 2px dashed #36C;

background: #F7FAFF;
}


/* ###########UPLOAD FIELD########################## */
.Upload_field{
  border-radius: 4px;

border: 1px solid #DCDFE3;
}
.Upload_field:has(.Mui-focused){
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
      border: 1px solid black;
      height: 74px;
        }

        
/* ##########################Header############################### */
.scrollbar{
  display: none;
}



.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: red !important;
}

.swiper-button-next::after{
  color: white;
  width: 90px;
  height: 70px;
  backdrop-filter: blur(10px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.32) 100%);
  border-radius: 50%;
  padding: 30px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 40px;
}

.swiper-button-prev{
  color: black;
  width: 50px;
  margin-left: 20px;
}
.swiper-button-prev.swiper-button-disabled{
  color: black;
  

}
.swiper-button-prev:after{
  color: black;

}
